/build*/
/.cache/
/.qt/
/.vs/
/.vscode/
/.tooling/
/.downloads/
*.user
*.suo
*.pdb
*.ilk
*.log
aqtinstall.log
piper_in.txt
scratch_*.wav
test_*.wav
config.json
secrets.json
dataset/
*.zip
models/
voices/
runtime/
__pycache__/
*.pyc
